.header {
    border-bottom: 1px solid #666666;

    .headerTop {
        z-index: 10;
        padding: 5px 40px;
        line-height: 30px;
        background: white;
        position: fixed;
        width: 100%;
        top: 0px;
        display: flex;
        justify-content: space-between;

        a {
            color: black !important;
            font-weight: 400;
            font-size: 16px;
        }

        .nav {
            display: flex;

            .dropdown {
                margin-left: 20px;


                .btnNav {
                    --tw-text-opacity: 1;
                    font-weight: 500;
                    font-size: 19px;
                    padding: 15px 0 10px;
                    color: rgba(29, 78, 216, var(--tw-text-opacity)) !important;
                    text-decoration: none !important;
                }
            }

        }

        .personal {
            display: flex;

            .dropdown {
                .dropdown-toggle::after {
                    content: none;
                }
            }
        }
    }
}

.dropdownMenuWhite {
    background-color: white;
    z-index: 10;

    a {
        color: black;
    }

    span {
        color: rgba(0, 0, 0, .45);
        padding: 5px 12px;
        font-weight: 700;
    }

    li {
        :hover {
            background-color: #f5f5f5;
            color: white;
        }
    }

    .dropdownItem {
        display: block;
        padding: 5px 20px;
        width: 100%;
        clear: both;
        font-weight: 400;
        text-align: inherit;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;


    }

    .other {

        text-transform: uppercase;
        color: rgba(156, 163, 175, 1) !important;
        font-weight: bold;
    }
}